.bs-callout {
  padding: 10px;
  margin: 5px 0px;
  border: 1px solid #eee;
  border-left-width: 30px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin: 0 0 0 -40px;
  text-align: center;
  width: 30px;
  color: #eee;
  float: left;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}

/* Variations */
.bs-callout-a {
  border-left-color: #ce4844;
}
.bs-callout-b {
  border-left-color: #aa6708;
}
.bs-callout-c {
  border-left-color: #1b809e;
}
.bs-callout-d {
  border-left-color: #ccc;
}
