div.game {
  padding: 0px 5px;
}

@media (min-width: 992px) {
  div.panel-body div.game:nth-child(3n-2) {
    padding-left: 10px;
  }

  div.panel-body div.game:nth-child(3n) {
    padding-right: 10px;
  }
}
