.ranking {
  font-size: .8em;
  height: 35px;
  display: flex;
  align-items: center;
}

.record {
  font-size: .8em;
  /*margin-left: 10px*/
}

.team.away {
  margin-bottom: 10px
}

.team.home {
  margin-bottom: 0
}

.team .team-info {
  margin-left: -20px;
}
