doctype html
html(lang="en")
  head
      title Tiers | Why82?
  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href="/")
            | Why82? 
            small v0.1
        ul.nav.navbar-nav
          li
            a(href="/") Schedule
          li
            a(href="/tiers.html") Tier Info
            
    div#content
