<div class="page-header">
    <h1>Filterable NBA Schedule</h1>
    <h1><small>v<%= Configuration.app_version %></small></h1>
</div>

<div ng-app="receta">
    <div class="view-container">
        <div ng-view class="view-frame animate-view"></div>
    </div>
</div>


