/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.page-header a, .page-header a:hover{
  //text-decoration: none;
  color: $headings-color
}

img {
  width: 25px;
  height: 25px;
  margin: 0 auto;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.game div.team-name {
  height: 25px;
  line-height: 25px;
}

div.team-name {
  height: 50px
}


.bord {
  border: 1px dashed deeppink;
}

.bord-green {
  @extend .bord;
  border: 1px dashed green;
}

.bord-blue {
  @extend .bord;
  border: 1px dashed blue;
}

.game {
  height: 50px;
  margin-bottom: 10px;
}

.gametime {
  @extend .game;
  margin-left: 10px;
  line-height: 50px;
}