// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

.mobile-collapse {
  @extend .collapse
}


@media(min-width: $screen-md) {
    .mobile-collapse{
      display: block;
    }
}

.collapse.in {
  display: inline-block;
}

.date-strip {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;

    li {
      display: inline-block;
      border-right: 1px solid #ddd;

      button{
        padding: 5px 10px;
        border: none;
        background: none;
      }
    }
  }
}